.link-dark {
    font-weight: bold;
    text-decoration: none;
}

.link-dark:hover {
    cursor: pointer;
    text-decoration: underline;
}

.fa-star {
    font-size: 105%;
}

.fa-star:hover {
    cursor: pointer;
    transform: scale(1.1);
}