/*   SELECTORS   */

form {
    margin-left: 20%;
    width: 700px;
}

select:disabled {
    background-color: #fff;
}

small {
    font-size: 70%;
    margin-left: 2%;
}


/*   CLASSES   */

.zoom-phone:hover {
    transform: scale(1.1);
}

.added-image:hover .closebtn {
    width: 16%;
    height: 16%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0 0 0 / 28%);
}

.input-price {
    text-align: right;
}

.brightness {
    filter: brightness(0.5);
}

.fa-info-circle {
    color: grey;
}

.viber-on {
    font-size: 85%;
    cursor: pointer;
    color: green;
    animation: show 1s 1;
    animation-fill-mode: forwards;
}

.viber-off {
    font-size: 85%;
    cursor: pointer;
    color: red;
    text-decoration: line-through;
}

.load-title-img {
    position: absolute;
    bottom: 5%;
    left: 21%;
    margin-right: 6%;
    opacity: 0;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
    z-index: 9999;
}

.title-img {
    position: absolute;
    bottom: 5%;
    left: 25%;
    margin-right: 6%;
    opacity: 0;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
}

.label-input {
    font-weight: bold;
    margin-left: 7px;
    margin-bottom: 4px;
}

.form-control {
    font-size: 90%;
}

.form-control:disabled {
    background-color: #fff;
}

.form-check-input {
    box-shadow: none;
    border-color: black;
}

.descriptionDelivery {
    animation: show 1s 1;
    animation-fill-mode: forwards;
}

.phone-delete {
    transform: scale(1.1);
    color: red;
}

.zoom-phone {
    transition: transform .2s;
}

.dropzone {
    padding: 1%;
    z-index: 2;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
}

.dropzone:hover {
    border: dashed 1px black;
}

.added-image {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
}

.rounded {
    height: 145px;
    width: 145px;
    overflow: hidden;
    text-align: center;
}

.btn-close {
    transform: scale(0.9);
}

.closebtn {
    cursor: pointer;
    border-radius: 0% 20% 0% 0%;
}

.drop-input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.btn {
    border-color: black;
    box-shadow: none;
}

.alert-warning {
    font-size: 90%;
}

.fa-trash-alt {
    margin-left: 10px;
    cursor: pointer;
}


/*   ANIMATION   */

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}