<div class="main-container">
    <h4>
        <span class="badge theme-main-color theme-color shadow me-3">
            <i class="fas fa-star text-warning me-2"></i> Избранные объявления
        </span>
        <span>
            <button [disabled]="loading" type="button" (click)="deleteAllFavoriteAd()" class="btn btn-sm btn-danger mb-auto">Очистить все</button>
        </span>
    </h4>

    <!--   Ad list view (cards or rows)   -->
    <app-ad-list-view [adList]="adList"></app-ad-list-view>

    <!--    Load more component    -->
    <app-load-more-ad [adExecutor]="this"></app-load-more-ad>
</div>