.carousel {
    width: 600px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}

.carousel:hover {
    transition: 0.3s;
    background-color: rgb(241, 236, 236);
}

.carousel-inner {
    width: 600px;
    height: 400px;
}

.overflow-x {
    overflow-x: scroll;
}

.small-image:hover {
    transform: scale(1.025);
    transition: 0.1s;
    animation: 0.1s 1;
    animation-fill-mode: forwards;
}

.online {
    color: green;
    font-weight: bold;
}

.btn {
    width: 60%;
    box-shadow: none;
}

.btn-warning {
    border-color: black;
    border-width: 1px;
}

.fa-check-circle {
    color: green;
}

.animation-show {
    animation: show 1s 1;
    animation-fill-mode: forwards;
}

.modal-dialog-scrollable .modal-content {
    overflow: visible!important;
}

.modal-content {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 50%;
}

.modal .close {
    position: fixed;
    right: 5%;
    top: 5%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.modal .close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.open-popup {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: block;
    background: none;
}

.open-popup:hover {
    cursor: zoom-in;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}