<div *ngIf="ad" class="mb-5" style="width: 1000px">
    <div class="flex-column border-bottom">
        <div>
            <h2 style="text-shadow: black;font-weight: bolder;" class="mb-0">{{ad.title}}
                <span class="badge bg-warning text-dark ms-2 mb-1" style="font-size: 60%">{{ad.price}} {{ad.priceType}}</span>
            </h2>
            <label class="text-muted fst-italic"><i class="fas fa-map-marker-alt me-2"></i>{{ad.simpleLocation.locationName}}, {{ad.simpleLocation.regionName}} область</label>
        </div>
        <div class="d-flex mb-3">
            <a [attr.href]="'ad-list?categoryId=' + ad.category.id" class="link-dark"><i class="fa pe-1" [ngClass]="{'fa-seedling': ad.category?.id == 5, 'fa-apple-alt': ad.category?.id == 25, 'fa-drumstick-bite': ad?.category?.id == 35, 'fa-cheese': ad?.category?.id == 45, 'fa-balance-scale-right': ad?.category?.id == 55, 'fa-leaf': ad?.category?.id == 65,'fa-feather-alt': ad?.category?.id == 70, 'fa-book': ad?.category?.id == 75}"></i>{{ad.category.category}}</a>
            <i class="fas fa-angle-right me-2 ms-2 mt-1"></i>
            <ng-container *ngIf="ad.category.subCategoryId">
                <a [attr.href]="'ad-list?categoryId=' + ad.category.id + '&subCategoryId=' + ad.category.subCategoryId" class="link-dark">{{ad.category.subCategoryName}}</a>
                <i class="fas fa-angle-right me-2 ms-2 mt-1"></i>
            </ng-container>
            <a [attr.href]="'ad?id=' + ad.id" class="link-dark">{{ad.title}}</a>
            <div *ngIf="ad.author.id == appComponent.user?.id" class="ms-auto me-5">
                <a [attr.href]="'ad-edit?id=' + ad.id" class="edit-ad-link small link-secondary me-3"><i class="fas fa-pen me-1"></i>Редактировать</a>
                <a data-bs-toggle="modal" data-bs-target="#confirmDeleteAdModal" class="edit-ad-link small link-danger"><i class="fas fa-trash-alt me-1"></i>Удалить</a>
            </div>
        </div>
        <div class="d-flex border-bottom pb-2">
            <div class="flex-column text-center" style="width:650px">

                <div *ngIf="imagesPopup" id="carouselExampleControls" class="carousel slide border border-dark rounded shadow me-5" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div *ngFor="let img of ad.imgList; let i = index" class="carousel-item" [ngClass]="{active: i === 0}">
                            <img [src]=img.cloudinaryUrl id='img-carousel-{{i}}'>
                            <div class="open-popup" (click)="scrollPopup(i)" data-bs-toggle="modal" data-bs-target="#popupModalToggle"></div>
                        </div>
                    </div>
                    <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                    </button>
                    <button class="carousel-control-next " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="next">
                    <span class="carousel-control-next-icon " aria-hidden="true "></span>
                    </button>
                </div>

                <div *ngIf="ad.imgList.length> 1" style="width:600px" class="d-flex align-content-stretch mb-4" [ngClass]="{'overflow-x': ad.imgList.length > 5}">
                    <div *ngFor="let file of ad.imgList; let i = index;" (click)="toggleCarousel(i)" [id]="file.cloudinaryId" class="mt-4 mb-2 me-1 ms-1 small-image border border-dark rounded shadow">

                        <img [src]="file.smallUrl" style="cursor: pointer;" id='img-{{i}}'>
                    </div>
                </div>

                <img *ngIf="!imagesPopup" style="opacity: 30%" [src]="ad.imgList[0].cloudinaryUrl">
            </div>

            <div class="flex-column" style="width:350px">
                <div class="mb-4">
                    <p class="fw-bold fs-5"><i class="fas fa-user"></i> Информация о продавце</p>
                    <div class="d-flex ms-4">
                        <img src="{{ ad.author!.avatarUrl }}" width=75px height=75px alt="{{ ad.author!.firstName }}" class="rounded me-2">
                        <div class="flex-column">
                            <label class="fw-bold text-decoration-underline">{{ ad.author!.firstName }}</label><br>
                            <small [hidden]="!authorOnline" class="online">Сейчас в сети</small>
                            <small [hidden]="authorOnline" class="text-muted">{{authorLastVisit}}</small>
                        </div>
                    </div>
                    <button [hidden]="communications.length" type="button" (click)="loadCommunication()" class="btn ms-4 mt-3" [style.background-color]="appComponent.theme.mainColor" [style.color]="appComponent.theme.color">Контакты продавца</button>
                    <div *ngFor="let phone of communications; let i = index" class="d-flex">
                        <a class="btn animation-show  ms-4 mt-3 me-1" [style.background-color]="appComponent.theme.mainColor" [style.color]="appComponent.theme.color" [ngStyle]="{'width': phone.useViber ? '170px': ''}" href='tel:{{phone.phone}}'><i class="fas fa-phone-alt icon me-2"></i>{{phone.phone}}</a>
                        <a *ngIf="phone.useViber" class="animation-show viber-link mt-3" title="Открыть чат в Viber" [href]="getSanitizeUrlForViber(i)"><img src="assets/viber_msg_link.png" /></a>
                    </div>
                    <button [hidden]="appComponent.user?.favoriteAdList?.includes(ad.id)" type="button" (click)='toggleFavorite(ad.id)' [style.background-color]="appComponent.theme.mainColor" [style.color]="appComponent.theme.color" class="btn ms-4 mt-3">Добавить в избранное</button>
                    <button [hidden]="!appComponent.user?.favoriteAdList?.includes(ad.id)" type="button" (click)='toggleFavorite(ad.id)' class="btn btn-danger animation-show ms-4 mt-3">Убрать из избранных</button>

                </div>
                <div class="mb-4">
                    <p class="fw-bold fs-5 me-5"><i class="fas fa-info-circle"></i> Описание товара</p>
                    <label class="text-muted text-break ms-4" style="margin-right: 20%">
                        {{ad.body}}
                    </label>
                </div>
                <div *ngIf="ad.delivery">
                    <h5><i class="far fa-check-circle"></i> Доставка</h5>
                    <p class="text-muted ms-4" style="word-wrap: break-word;">
                        {{ad.deliveryDescription}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="btn-group mb-4" role="group" style="width: 550px">
        <input type="radio" class="btn-check" name="btnradio" id="similarAdSuggestion" autocomplete="off" (change)="toggleSuggestionAdList($event)" [checked]="similarAdSuggestion">
        <label class="btn btn-outline-theme-main" for="similarAdSuggestion">Похожие объявления <span *ngIf="similarAdSuggestionLoading" class="spinner-border spinner-border-sm ms-1"></span></label>

        <input type="radio" class="btn-check" name="btnradio" id="authorAdSuggestion" autocomplete="off" (change)="toggleSuggestionAdList($event)" [checked]="authorAdSuggestion">
        <label class="btn btn-outline-theme-main" for="authorAdSuggestion">Другие объявления продавца <span *ngIf="authorAdSuggestionLoading" class="spinner-border spinner-border-sm ms-1"></span></label>
    </div>

    <!--    Similar ad cards    -->
    <div *ngIf="similarAdSuggestion" class="d-flex align-content-stretch mb-5" [ngClass]="{'overflow-x': similarAdList.length > 5}" style="width:1120px">
        <div *ngFor="let ad of similarAdList" class="d-flex mb-4 me-4 shadow-sm rounded-3 adInlineCards">
            <div class="card" title="{{ad.adTitle}}">
                <div class="card-img-section">
                    <img class="rounded-3" [src]="ad.titleImgUrl">
                    <div class="city-delivery-badge text-white">
                        <i *ngIf="ad.delivery" title="Доставка" class="fas fa-sm fa-truck me-2"></i>
                        <i class="fas fa-map-marker-alt me-1"></i> {{ad.simpleLocation.locationName}}
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex">
                        <h6 class="card-title ">{{ad.price}} {{ad.priceType}}</h6>
                        <i class="ms-auto fas fa-star mb-auto text-end" (click)="toggleFavorite(ad.id)" [ngStyle]="{'color': appComponent.user?.favoriteAdList?.includes(ad.id) ? '#ffc107':'gray'}" [title]="appComponent.user?.favoriteAdList?.includes(ad.id) ? 'Избранное' : 'Добавить в избранное'"></i>
                    </div>
                    <div style="width:95%">
                        <a href="ad?id={{ad.id}}" target="_blank" class="link-dark">
                            <p class="card-text custom-card-text">{{ad.adTitle}}</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    Author Ad cards    -->
    <div *ngIf="authorAdSuggestion" class="d-flex align-content-stretch mb-5" [ngClass]="{'overflow-x': authorAdList.length > 5}" style="width:1120px">
        <div *ngFor="let ad of authorAdList" class="d-flex mb-4 me-4 shadow-sm rounded-3 adInlineCards">
            <div class="card" title="{{ad.adTitle}}">
                <div class="card-img-section">
                    <img class="rounded-3" [src]="ad.titleImgUrl">
                    <div class="city-delivery-badge text-white">
                        <i *ngIf="ad.delivery" title="Доставка" class="fas fa-sm fa-truck me-2"></i>
                        <i class="fas fa-map-marker-alt me-1"></i> {{ad.simpleLocation.locationName}}
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex">
                        <h6 class="card-title ">{{ad.price}} {{ad.priceType}}</h6>
                        <i class="ms-auto fas fa-star mb-auto text-end" (click)="toggleFavorite(ad.id)" [ngStyle]="{'color': appComponent.user?.favoriteAdList?.includes(ad.id) ? '#ffc107':'gray'}" [title]="appComponent.user?.favoriteAdList?.includes(ad.id) ? 'Избранное' : 'Добавить в избранное'"></i>
                    </div>
                    <div style="width:95%">
                        <a href="ad?id={{ad.id}}" target="_blank" class="link-dark">
                            <p class="card-text custom-card-text">{{ad.adTitle}}</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Images popup modal     -->
    <div class="modal fade" id="popupModalToggle" style="z-index: 9999" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content flex-column align-items-center">
                <div *ngFor="let img of imagesPopup; let i = index" class=" mb-4">
                    <img [src]=img.cloudinaryUrl id='img-popup-{{i}}' class="rounded" [style.margin-bottom]="i + 1 == imagesPopup?.length && imagesPopup?.length != 1?'40px':''">
                </div>
            </div>
        </div>
    </div>

    <!--    Confirm delete ad modal    -->
    <div class="modal fade" id="confirmDeleteAdModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердите действие</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить текущее объявление?
                </div>
                <div class="modal-footer">
                    <button [disabled]="processDelete" (click)="deleteAd()" type="button" class="btn btn-danger"><span [hidden]="!processDelete" class="spinner-border spinner-border-sm me-2"></span>Удалить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>