.label-form {
    font-weight: bold;
    font-size: 90%;
    margin-left: 2%;
    margin-bottom: 1%;
}

select:hover {
    cursor: pointer;
}

.form-check-input {
    cursor: pointer;
    box-shadow: none;
    border-color: black;
}

.form-check-input:checked {
    border-color: black;
}

.btn {
    box-shadow: none;
}

.badge {
    border-style: solid;
    border-width: 1px;
}

.fa-bookmark {
    font-size: 125%;
}

.fa-bookmark:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: red;
}

.link-dark {
    font-weight: bold;
    text-decoration: none;
}

.link-dark:hover {
    cursor: pointer;
    text-decoration: underline;
}

#filter {
    position: fixed;
    width: 880px;
    z-index: 9999;
}

.filter-top {
    margin-top: 0px;
    transition: 0.1s;
}

.filter-scroll {
    margin-top: -24px;
    transition: 0.1s;
}