<div class="main-section">
    <div class="pb-4 mb-4 border-bottom" id="filter" [style.background-color]="appComponent.theme.backgroundColor" [ngClass]="{'filter-top': scrollTop, 'filter-scroll': !scrollTop}">
        <fieldset class="ms-3 d-flex" [disabled]="loading">
            <div class="flex-column me-3">
                <label class="label-form">Категория</label>
                <select class="form-select form-select-sm shadow-sm" style="width:175px;" [(ngModel)]="filter.categoryId" name="categoryId" (change)="updateSubCategories()">
            <option [ngValue]=undefined>Все категории</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">{{category.category}}</option>
            </select>
            </div>
            <div class="flex-column me-3">
                <label class="label-form">Подкатегория</label>
                <select class="form-select form-select-sm shadow-sm" style="width:175px;" [(ngModel)]="filter.subCategoryId" name="subCategoryId" (change)="refreshFilter()">
            <option [ngValue]=undefined>Все</option>
                <ng-container *ngFor="let category of categories">
            <option *ngFor="let subCategory of category['subCategoryList']" [selected]="filter.subCategoryId == subCategory.id" [hidden]='category.id != filter.categoryId' [ngValue]="subCategory.id">{{subCategory.subCategory}}</option>
        </ng-container>
</select></div>
            <div class="flex-column me-3">
                <label class="label-form">Область</label>
                <select class="form-select form-select-sm shadow-sm" style="width:150px;" [(ngModel)]="filter.region " name="region " (change)="updateLocation() ">
            <option [ngValue]=undefined>Вся Беларусь</option>
            <option *ngFor="let region of regions " [ngValue]="region.id ">{{region.name}}</option>
</select></div>
            <div class="flex-column me-3">
                <label class="label-form">Город/район</label>
                <select class="form-select form-select-sm shadow-sm" style="width:175px;" [(ngModel)]="filter.location " name="location " (change)="refreshFilter()">
            <option [ngValue]=undefined>Все</option>
                    <option *ngFor="let location of locationsForSuggestion" [selected]="filter.location == location.id" [ngValue]="location.id ">{{location.name}}</option>
</select></div>
            <div class="d-flex align-items-center mt-3">
                <input class="form-check-input me-2" type="checkbox" [(ngModel)]="filter.delivery " name="hasDelivery " (change)="refreshFilter()" [style.background-color]="filter.delivery?appComponent.theme.mainColor:''">
                <span class="me-3"><i class="fas fa-truck me-2"></i>С Доставкой</span>
                <button type="button" (click)="resetFilter()" class="btn btn-danger" style="background: #e30000; width:95px!important"><span *ngIf="loading" class="spinner-border spinner-border-sm"></span><div [hidden]="loading">Сбросить</div></button>
            </div>
        </fieldset>
    </div>

    <div style="padding: 90px 6px 0 6px">

        <!--   Ad list view (cards or rows)   -->
        <app-ad-list-view [adList]="adList"></app-ad-list-view>

        <!--    Load more component    -->
        <app-load-more-ad [adExecutor]="this"></app-load-more-ad>
    </div>

</div>