<section style="height: 75%;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-white text-dark" style="border-radius: 1rem; border: 0.5rem solid;">
                    <div class="card-body px-5 text-center">

                        <div class="md-5 mt-md-4 pb-5">
                            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                            <h2 class="fw-bold">Вход</h2>
                            <div class="confirm mt-3" *ngIf="isLoginFailed">
                                <div class="alert alert-danger" role="alert">
                                    Ошибка авторизации.<br> {{ errorMessage }}
                                </div>
                            </div>
                            <form>
                                <div class="input-group form-white">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-warning btn-phone">+375</button>

                                    </div>
                                    <input [(ngModel)]="loginForm.phoneNumber" name="phoneNumber" (keyup)="onKeyPhone($event)" type="email" class="form-control" [ngClass]="{'is-valid': checked && loginFormValid.phoneNumber, 'is-invalid': checked && !loginFormValid.phoneNumber}">
                                    <div *ngIf="checked && !loginFormValid.phoneNumber" class="invalid-feedback">Пожалуйста, введите корректный номер телефона.</div>

                                </div>
                                <label class="form-label mb-4" for="typeEmailX"><b>Телефон</b></label>

                                <div class="form-outline form-white mb-4">
                                    <input [(ngModel)]="loginForm.password" autocomplete="on" (keyup)="onKeyPassword($event)" [ngClass]="{'is-valid': checked && loginFormValid.password, 'is-invalid': checked && !loginFormValid.password}" type="password" name="password" class="form-control">
                                    <div *ngIf="checked && !loginFormValid.password" class="invalid-feedback">Пароль должен содержать от 6 до 32 символов. Пробелы запрещены.</div>
                                    <label class="form-label" for="typePasswordX"><b>Пароль</b></label>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="link-dark" routerLink="login"><b>Забыли пароль?</b></a></p>

                                <button (click)="checkForm()" class="btn btn-warning" id="btn_submit" style="width:100%; border: 0.1rem solid;" type="submit"><span id="spinner" hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Вход</button>

                            </form>

                        </div>

                        <div>
                            <p class="mb-0">Не зарегестрированы на <a class="text-dark" routerLink="home"><b>syrovatki-business.com</b></a>?<br> <a routerLink="/signup" class="link-warning"><b>Регистрация</b></a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>