<div class="d-flex">
    <h4><span class="badge mb-4 shadow me-3" [style.background-color]="appComponent.theme.mainColor" [style.color]="appComponent.theme.color"><i class="fas fa-user me-3"></i>Мои объявления ({{adList.length}} шт.)</span></h4>
</div>

<!--    Ad-List cards    -->
<div class="mb-5" style="width:1135px">
    <div *ngFor="let ad of adList" class="d-flex mb-4 me-4 shadow-sm rounded-3 inlineCards">
        <div class="card" title="{{ad.adTitle}}">
            <div class="card-img-section">
                <img class="rounded-3" [src]="ad.titleImgUrl">
                <div class="city-delivery-badge text-white">
                    <i *ngIf="ad.delivery" title="Доставка" class="fas fa-sm fa-truck me-2"></i>
                    <i class="fas fa-map-marker-alt me-1"></i> {{ad.town}}
                </div>
            </div>
            <div class="card-body ">
                <div class="d-flex">
                    <h6 class="card-title ">{{ad.price}} {{ad.priceType}}</h6>
                    <i class="ms-auto fas fa-star mb-auto text-end" (click)="toggleFavorite(ad.id)" [ngStyle]="{'color': appComponent.user?.favoriteAdList?.includes(ad.id) ? '#ffc107':'gray'}" [title]="appComponent.user?.favoriteAdList?.includes(ad.id) ? 'Избранное' : 'Добавить в избранное'"></i>
                </div>
                <div style="width:95%">
                    <a href="ad?id={{ad.id}}" target="_blank" class="link-dark">
                        <p class="card-text custom-card-text">{{ad.adTitle}}</p>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>