<form>
  <div class="form-group">
    <h2><span class="badge badge-pill badge-warning mb-3">Подача объявления</span></h2>
    <label for="exampleInputEmail1">Название</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Название объявления">
    <small id="emailHelp" class="form-text text-muted">Используйте от 3 до 64 символов.</small>
  </div>
  <div class="form-group">
    <tr>
      <td>
        <label for="exampleInputEmail1">Категория</label>
      </td>
      <td>
        <label for="exampleInputEmail1">Подкатегория</label>
      </td>
    <tr>
    <tr>
      <td>
        <select class="form-select" aria-label="Default select example">
          <option selected>Категория</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </td>
      <td><select class="form-select" aria-label="Default select example">
          <option selected>Подкатегория</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></td>
    </tr>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Описание</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
      placeholder="Описание объявления"></textarea>
    <small id="emailHelp" class="form-text text-muted">Используйте от 20 до 2000 символов.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Загрузите изображения</label>
    <div class="dropzone" appDnd>
      <input type="file"  id="fileDropRef"  class="drop-input" multiple (change)="filesDropped($event)"/>
      <img src="https://cdn-icons-png.flaticon.com/512/568/568717.png" height="7%" width="7%">
      <h3>Загрузите изображения</h3>
      <label for="fileDropRef" class="drop-label">Выбрать изображения</label>
    </div>
    <div *ngFor="let file of uploadedFiles; let i = index;" class="mr-2 mt-2 ml-3 added-image">
      
        <div class="rounded" (click)="setTitleImage(i)">
          <img [src]="file.url" width="100%" height="100%">
          <div class="closebtn" (click)="deleteImg(file)">
          <span class="close">&times;</span>
          </div>
          <div *ngIf="file.title === true;" class="title-img">
            <i class="fas fa-lg fa-check-circle i-title-img"></i>
          </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <tr style="width: 50%;">
      <td>
        <label for="exampleInputEmail1">Область</label>
      </td>
      <td>
        <label for="exampleInputEmail1">Город/район</label>
      </td>
    <tr>
    <tr>
      <td>
        <select class="form-select" aria-label="Default select example">
          <option selected>Область</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </td>
      <td><select class="form-select" aria-label="Default select example">
          <option selected>Город/район</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></td>
    </tr>
  </div>
  <div class="form-group">
    <label>Номер телефона:</label>
    <tr>
      <td>
        <div class="input-icons">
          <i class="fas fa-phone-alt icon"></i>
          <input class="form-control input-field" type="text" readonly value="+375 (44) 536-03-86">

        </div>
      </td>
      <td>
        <i class="far fa-trash-alt fa-lg zoom-phone" style="margin-left: 10px;cursor:pointer;"></i>
      </td>
    </tr>


  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
