@media screen and (max-width: 391px) {
    form {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .drop-input .badge {
        font-size: 100%!important;
    }
    .price-phone {
        width: 44%!important;
    }
    .input-price {
        width: 15%;
        text-align: right;
    }
    .phone-number {
        width: 50%;
    }
    .added-image .closebtn {
        width: 16%;
        height: 16%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(0 0 0 / 28%);
    }
}

@media screen and (min-width: 391px) {
    form {
        margin-top: 2%;
        margin-left: 5%;
        width: 35%;
    }
    .input-price {
        width: 10%;
        text-align: right;
    }
    .added-image:hover .closebtn {
        width: 16%;
        height: 16%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(0 0 0 / 28%);
    }
    .phone {
        width: 29%;
    }
    .zoom-phone:hover {
        transform: scale(1.2);
        color: red;
    }
}

.form-group {
    margin-bottom: 3%;
}

.brightness {
    filter: brightness(0.5);
}

.load-title-img {
    position: absolute;
    bottom: 5%;
    left: 21%;
    margin-right: 6%;
    opacity: 0;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
    z-index: 9999;
}

.title-img {
    position: absolute;
    bottom: 5%;
    left: 25%;
    margin-right: 6%;
    opacity: 0;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

td {
    width: 30%;
}

small {
    font-size: 70%;
}

.badge {
    border-style: solid;
    border-width: 1px;
}

.form-select {
    font-size: 80%;
}

label {
    font-weight: bold;
    margin-left: 1%;
}

.form-select {
    width: 90%;
}

.form-control {
    font-size: 90%;
}

.input-icons i {
    position: absolute;
}

.form-control[readonly] {
    background-color: white;
}

.icon {
    padding: 9.8px;
}

.form-check-input {
    box-shadow: none;
    border-color: black;
}

.form-check-input:checked {
    background-color: #ffc107;
    border-color: black;
}

.descriptionDelivery {
    animation: show 1s 1;
    animation-fill-mode: forwards;
}

.input-field {
    width: 100%;
    padding-left: 35px;
}

.phone-delete {
    transform: scale(1.2);
    color: red;
}

.zoom-phone {
    transition: transform .2s;
}

.dropzone {
    padding: 1%;
    z-index: 2;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
}

.dropzone:hover {
    border: dashed 1px black;
}

@keyframes close-show {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.added-image {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
}

.rounded {
    height: 145px;
    width: 145px;
    overflow: hidden;
    text-align: center;
}

.btn-close {
    transform: scale(0.9);
}

.closebtn {
    cursor: pointer;
    border-radius: 0% 20% 0% 0%;
}

.drop-input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.drop-label {
    border-radius: 21.5px;
    background-color: #ffc107;
    color: black;
    padding: 0.5% 2%;
    margin-top: 2%;
}

small {
    margin-left: 2%;
}

.btn {
    border-color: black;
    box-shadow: none;
}

.alert-warning {
    font-size: 90%;
}

h3 {
    font-size: 100%;
}

.fa-trash-alt {
    margin-left: 10px;
    cursor: pointer;
}

.phone-delete-text {
    text-decoration: line-through;
}