<form>
  <div class="form-group">
    <h2><span class="badge badge-pill badge-warning mb-3">Подача объявления</span></h2>
    <label for="exampleInputEmail1">Название</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Название объявления">
    <small id="emailHelp" class="form-text text-muted">Используйте от 3 до 64 символов.</small>
  </div>
  <div class="form-group">
    <tr>
      <td>
        <label for="exampleInputEmail1">Категория</label>
      </td>
      <td>
        <label for="exampleInputEmail1">Подкатегория</label>
      </td>
    <tr>
    <tr>
      <td>
        <select class="form-select" aria-label="Default select example">
          <option selected>Категория</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </td>
      <td><select class="form-select" aria-label="Default select example">
          <option selected>Подкатегория</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></td>
    </tr>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Описание</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
      placeholder="Описание объявления"></textarea>
    <small id="emailHelp" class="form-text text-muted">Используйте от 20 до 2000 символов.</small>
  </div>
  <div class="form-group">
    <tr style="width: 50%;">
      <td>
        <label for="exampleInputEmail1">Область</label>
      </td>
      <td>
        <label for="exampleInputEmail1">Город/район</label>
      </td>
    <tr>
    <tr>
      <td>
        <select class="form-select" aria-label="Default select example">
          <option selected>Область</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </td>
      <td><select class="form-select" aria-label="Default select example">
          <option selected>Город/район</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></td>
    </tr>
  </div>
  <div class="form-group">
    <div class="custom-control custom-switch custom-switch-lg">
      <input type="checkbox" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2">
          Large Sized Custom Toggle
      </label>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>