@media screen and (max-width: 375px) and (max-height: 812px) {
    .find-phone {
        display: none;
    }
    header {
        margin-bottom: 3%;
    }
    .mb-phone {
        margin-bottom: 0.5em!important;
    }
    .mt-phone {
        margin-top: -5%!important;
    }
    .pt-phone {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    .img-phone {
        width: 80px!important;
    }
}

.btn {
    box-shadow: none;
}

.rounded-circle {
    width: 40px;
    height: 40px;
}

.firstName {
    margin-left: 3%;
    margin-right: 1%;
}

.dropdown-menu {
    width: auto;
    border-radius: 10%;
    background-color: #343a40;
}

.dropdown-item:hover {
    background-color: #ffc107;
    
}



.dropdown-item {
    border-radius: 10% / 50%;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dropdown-li {
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1279px) and (max-height: 812px) {
    
  }