@media screen and (max-width: 391px) {
    .find-phone {
        display: none;
    }
    .mb-phone {
        margin-bottom: 0.5em!important;
    }
    .mt-phone {
        margin-top: -5%!important;
    }
    .pt-phone {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    .img-phone {
        width: 80px!important;
    }
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container-xxl {
    max-width: 1730px;
}

.active-link {
    color: #537030!important;
    font-weight: bold;
}

.btn {
    box-shadow: none;
}

.nav-link {
    padding-top: 50px;
}

.rounded-circle {
    width: 40px;
    height: 40px;
}

.firstName {
    margin-left: 3%;
    margin-right: 1%;
}

.dropdown-menu {
    width: auto;
    border-radius: 10%;
}

.dropdown-item:hover {
    background-color: red;
}

.dropdown-li {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}