<header class="bg-dark text-white">
 
  <div class="container-xxl">
    
    <div class=" d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <img class="img-phone" src="assets/logo_ezha.svg" height="75" width="125"/>
      <ul class="px-3 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mt-phone mb-md-0">
          <li><a href="/" routerLink="home" [ngClass]="{'text-white': components[0], 'text-secondary': !components[0]}" class="nav-link px-2 pt-4 pt-phone">Главная</a></li>
          <li><a href="/create-ad" routerLink="create-ad" [ngClass]="{'text-white': components[1], 'text-secondary': !components[1]}" 
            class="nav-link px-2 pt-4 pt-phone">Подать объявление</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mb-phone find-phone">
          <input type="search" class="form-control form-control-dark" placeholder="Найти..." aria-label="Search">
        </form>

        <div class="text-end" *ngIf=!isLoggedIn>
          <a routerLink="login" class="btn btn-outline-light me-2 mb-phone">Вход</a>
          <a href="/signup" routerLink="signup" class="btn btn-warning mb-phone">Регистрация</a>
        </div>
        <div class="dropdown px-2 mb-phone" *ngIf="isLoggedIn">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
             data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ avatarUrl }}" alt="{{ firstName }}" class="rounded-circle avatar me-1">
            <strong class="firstName">{{ firstName }}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow" aria-labelledby="dropdownUser1">
            <li class="dropdown-li"><a class="dropdown-item" href="">nothing here</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-li"><a class="dropdown-item" (click)="logout()" href="">Выйти</a></li>
          </ul>
        </div>
      </div>

    </div>
  </header>

  <div>
    <div *ngIf="this.router.url === '/'">
    <app-home></app-home>
  </div>
    <router-outlet></router-outlet>
  </div>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>
  </div>

