@media screen and (max-width: 391px) {
    .banner {
        display: none!important;
    }
}

@media screen and (min-width: 391px) {
    .container-fluid {
        padding: 2em;
    }
}

.list-group-item:hover {
    transition: 0.1s;
    transform: scale(1.02);
    background-color: #ffc107;
    color: black;
}

.list-group-item.active {
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #ffc107;
    border-color: black;
}

.list-group-item {
    padding: 0px 30px;
}