.list-group-item:hover {
    color: white;
}

.carousel {
    width: 1150px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}

.list-group-item.active {
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    font-size: 90%;
}

.list-group-item {
    padding: 0px 30px;
}