form {
    margin-left: 100px;
    margin-top: 25px;
    width: 500px;
}

label {
    margin-left: 5px;
    font-weight: bold;
}

.form-control {
    box-shadow: none;
}

.btn {
    box-shadow: none;
}

.invalid-feedback {
    margin-left: 5px;
    font-size: 75%;
}

.small {
    font-size: 75%;
}