.container {
    margin-top: 2%;
}

.form-control {
    box-shadow: none;
}

.btn {
    box-shadow: none;
}

.invalid-feedback {
    font-size: 75%;
}

.btn-warning {
    border-color: black;
}

.confirm {
    margin-top: 5%;
}

.small {
    font-size: 75%;
}

.btn-warning:hover {
    background-color: #ffc107;
}

.form-group {
    margin-bottom: 1%;
}

@media screen and (min-width: 1280px) and (min-height: 768px) {
    .container {
        margin-left: 10%;
    }
    .col-sm-9 {
        width: 45%;
    }
  }